{template '../mobile/header'}

<link  href="{STYLE}css/user.css" rel="stylesheet" type="text/css"/>
<link  href="{STYLE}css/admin.css" rel="stylesheet" type="text/css"/>
<script src="{STYLE}js/page.js"></script>
{template '../mobile/shop_admin/shop_admin_banner'}
<div class="info-content " >
    {if $type==0}
    <link  href="{STYLE}css/order.css" rel="stylesheet" type="text/css"/>
    <div class="shop-admin order-panney ">
        <div style="margin-left: 26%;"class="order-body {if $type=='0'}sel{else}nosel{/if} " onclick="location.href='{php echo $this->createMobileUrl($_GPC['do'],array('op'=>'goods'))}'">
            商品列表
        </div>
        <div class="order-body {if $type=='1'}sel{else}nosel{/if}" onclick="location.href='{php echo $this->createMobileUrl($_GPC['do'],array('op'=>'goods','type'=>'1'))}'">
            添加商品
        </div>
    </div>
    {template '../mobile/shop_admin/shop_admin_goods_list'}
    {elseif $type==1}
    {template 'common/header'}
    <script src="{STYLE}js/app.v2.js"></script>
    <script type="text/javascript">
        function showTab(self,id){
            $('.tab-btn a').removeClass('active');
            $(self).addClass('active');
            $('.tab-pane').hide();
            $('#tab_'+id).show();
        }

    </script>
    <!--<link rel="stylesheet" href="../addons/yc_youliao/public/css/app.v2.css" type="text/css" />-->
    <link  href="{STYLE}css/app.form.css" rel="stylesheet" type="text/css"/>
    <div class="shop-admin tab-btn goods-detail"  id="myTab">
        <a href="javascript:;" class="active" onclick="showTab(this,1);">基础</a>
        <a href="javascript:;" onclick="showTab(this,2);">详情</a>
        {if $shopData['is_group']==1}
        <a href="javascript:;" onclick="showTab(this,3);">拼团</a>
        {/if}
        {if $shopData['is_time']==1}
        <a href="javascript:;" onclick="showTab(this,4);">秒杀</a>
        {/if}
        <a href="javascript:;" onclick="showTab(this,5);">分享</a>

</div>
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit="return formcheck();">
        <input type="hidden" name="id" value="{$item['goods_id']}" />
    <div class="tab-content">

        <div class="tab-pane  active" id="tab_1">{template '../web/shop/goods_basic'}</div>
       <div class="tab-pane" id="tab_2">{template '../web/shop/goods_des'}</div>
        {if $shopData['is_group']==1}
        <div class="tab-pane" id="tab_3">{template '../web/shop/goods_group'}</div>
        {/if}
        {if $shopData['is_time']==1}
        <div class="tab-pane" id="tab_4">{template '../web/shop/goods_activity'}</div>
        {/if}
        <div class="tab-pane" id="tab_5">{template '../web/shop/goods_share'}</div>
    </div>

<div class="form-submit">
    <!--<img src="{STYLE}images/f_gou.png"/>-->
        <input name="submit" type="submit" value="提交" class="btn btn-primary">
</div>
        <input type="hidden" name="token" value="{$_W['token']}" />
</form>
    {/if}
</div>

{template '../mobile/footer'}

