{template '../mobile/header'}
{template '../mobile/popup'}
<link  href="{STYLE}css/index.css" rel="stylesheet" type="text/css">
{template '../mobile/search_scan_address'}

{php $advs= commonGetData::getAdv($adv_type);}
<!--头部广告-->
{if !empty($advs)}
{template '../mobile/adv1'}
{/if}
<div class="noticeWap">

    <ul class="view-ul">
    <li class="view-li "><img class="views-ico" src="{STYLE}images/views_user_ico.png">用户量：{$userNum}</li>
        <li class="view-li "><img class="views-ico" src="{STYLE}images/views_shop_ico.png">商户量：{$shopNum}</li>
    <li class="view-li ">  <img class="views-ico" src="{STYLE}images/views_info_ico.png">浏览量： {$viewsNum}</li>
    </ul>
</div>
{if $msg}
<div class="noticeWap">
    <span class="noticeTxt">公告</span>
    <div class="noticeConWap">
        <ul class="noticeLists">
            {loop $msg $i $m}
            <li class="noticeList">
                <a href="{php echo $this->createMobileUrl('user', array('op' => 'msg','msg_id' => $m['msg_id']))}">
                    <span class="time">{php echo date("m-d",$m['add_time'])}</span>
                    <div class="cont">{$m['msg_title']}</div>
                </a>
            </li>
            {/loop}
        </ul>
    </div>
    <div class="closeWap">
        <div class="close-icon"></div>
    </div>
</div>
<script>
    $(function () {
        var listsLen
        var i = 1
        var timer
        var ul = $('.noticeWap .noticeLists')
        listsLen = ul.children().length
        timer = setInterval(function () {
            if (i == listsLen){
                i = 0
            }
            ul.css({transform: 'translateY(-'+ i * 42 + 'px)'})
            i++
        }, 3000)
        $('.noticeWap .closeWap').on('touchend', function () {
            clearInterval(timer)
            $('.noticeWap').hide()
        })
    })
</script>
{/if}
<div class="weather">
    <div class="nav_time_left">
    <img id="img_type"/>
    <div class="left">
        <div id="fx"></div>
        <div id="high"></div>
    </div>
        <span id="type"></span>

    </div>

    {php $qdurl=$this->createMobileUrl('qiandao');}
    {if $jifen}
    <div class="nav_time_right qiandao" onClick="qiandao('{$qdurl}');">
        {if !empty($qian_flag)}
        {$qian_flag}
        {elseif $jifen}
         签到 <span class="tishi">{$jifen}</span>
        {/if}

    </div>
    {/if}
</div>

<!--同城频道-->
{template '../mobile/channel_icon'}

<!--足迹-->
{php $footmark=commonGetData::getFoot($userinfo['id']);$footmark=$footmark['content']}
{if !empty($footmark)}
{template '../mobile/footmark'}
{/if}
<div class="clear relative"></div>
<!--今日置顶-->
{if $zdmessagelist}
<div class="huadong">
    <div class="huabox">
        <div class="hdimg"><img src="{STYLE}images/jrtt.png"></div>
        <div class="notice_active">
            <ul>
                {loop $zdmessagelist $zdrow}
                <li class="notice_active_ch" onClick="location.href='{php echo $this->createMobileUrl('detail',array('id'=>$zdrow['id']))}'">
                   <div> <span class="red">[{$zdrow['modulename']}] </span><em>{$zdrow['createtime']}</em></div>
                    {$zdrow['con']['title']}

                    <div class="gg_more">
                    <a title="news_more" href="{php echo $this->createMobileUrl('msglist',array('id'=>$zdrow['mid'],'zhiding'=>1))}">更多<img src="{STYLE}images/right.png"/></a>
                    </div>
                </li>
                {/loop}
            </ul>
        </div>

    </div>
</div>
{/if}
{if $cfg['showShop']!=2}
<!--商家频道开始-->
<div class="sy_tese mb10">
    <ul>
        <li class="list listOne">
            <a href="{php echo $this->createMobileUrl('list', array('type' =>4))}">
                <div class="box">
                    <h3 class="colr_1"><em class="ico"></em>全民拼团</h3>
                    <p>爱拼才会赢 轻松拼好货</p>
                    <img src="{STYLE}images/teseImg1.png">
                </div>
            </a>
        </li>
        <li class="list listThree">
            <a href="{php echo $this->createMobileUrl('list', array('type' =>7))}">
                <div class="box">
                    <img src="{STYLE}images/teseImg3.png">
                    <div class="pub_wz">
                        <h3 class="colr_3"><em class="ico"></em>优惠买单</h3>
                        <p>你买单 我贴钱</p>
                    </div>
                </div>
            </a>
        </li>
        <li class="list listThree">
            <a href="{php echo $this->createMobileUrl('list', array('type' =>6))}">
                <div class="box">
                    <img src="{STYLE}images/teseImg5.png">
                    <div class="pub_wz">
                        <h3 class="colr_4"><em class="ico"></em>首单优惠</h3>
                        <p>新人独享 抄底价</p>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="clear"></div>
</div>

{/if}
<!--同城信息展示-->
{if empty($cfg['showChannel']) || $cfg['showChannel']==1}
{template '../mobile/channel'}
{/if}
{if $this->isRedpacket()==0}
<div class="id_nav">
    <div class="id_nav_l puff_left">
        <a href="{php echo $this->createMobileUrl('redpackage')}">
            <p>红包来了</p>
            <span><img src="{STYLE}images/redpic.png" class="animated rotateIn"></span>
        </a>
    </div>
    <div class="id_nav_r puff_left">
        <div class="id_nav_rt border-b">
            <a href="{php echo $this->createMobileUrl('bang')}">
                <p>土豪榜</p>
                <span class="animated fadeInLeft">有钱就是任性</span>
                <img src="{STYLE}images/redpic3.png" class="animated rotateIn">
            </a>
        </div>
        <div class="id_nav_rt clear_border">
            <a href="{php echo $this->createMobileUrl('bang',array('type'=>1))}">
                <p style="color: #f2a218;">抢钱榜</p>
                <span class="animated fadeInLeft">运气才是王道</span>
                <img src="{STYLE}images/redpic1.png" class="animated rotateIn">
            </a>
        </div>
    </div>
</div>
{/if}


{php $advs2= commonGetData::getAdv(2);}
{if $advs2}
{template '../mobile/adv2'}
{/if}

<!--秒杀开始-->
<div class="xsqg" style="{if empty($xsms)}display:none;{/if}">
    <div class="xshead ">
        <div class="nav_time_left">
            <span class="nav_time_end" id="nav_time_title">距离结束</span>
            <span class="nav_time_change" id="nav_time_hour">00</span>:
            <span class="nav_time_change" id="nav_time_minute">00</span>:
            <span class="nav_time_change" id="nav_time_second">00</span>
        </div>
        <div class="nav_time_right">
            <a href="{php echo $this->createMobileUrl('xsms')}"> 更多 <img src="{STYLE}images/right.png"/>
            </a>
        </div>
    </div>
    <div class="clearfix" ></div>
    <div  class="swiper-container-horizontal swiper-container-free-mode">
        <div class="swiper-container" id="seck">

            <div class="swiper-wrapper ">
                {loop $xsms $item}
                <div class="swiper-slide">
                    <a href="{php echo $this->createMobileUrl('good', array('shop_id' => $item['shop_id'],'id' => $item['goods_id']))}">

                        <img class="tub1" src="{php echo tomedia($item['thumb'])}" alt="">
                        <div class="name">{$item['title']}</div>
                        <div class="price">¥ {$item['time_money']}
                            {if $item['marketprice']}
                            <span class="oldp">¥ {$item['marketprice']}</span>
                            {/if}
                        </div>
                    </a>
                </div>
                {/loop}
            </div>
        </div>
    </div>
</div>
<script>
    var mySwiper = new Swiper('#seck',{
        slidesPerView : 3,
        slidesPerGroup : 3,
        prevButton:'.swiper-button-prev',
        nextButton:'.swiper-button-next',

    })
</script>
<!--秒杀结束-->


<!--推荐店铺开始-->
{if $shoplist}
    <div class="shop-title">
        <span><i class="icon iconfont icon-xing"></i>为您推荐</span>
        <div></div>
    </div>
<div class="shop-list">
    <ul id="mihua_sq_list" class="am-cf">
        {loop $shoplist $item}
        <li class="shop-list-li">
            <a href="{php echo $this->createMobileUrl('shop', array('shop_id' => $item['shop_id']))}">
                <div class="shop-list-li-img">
                   <img class="lazy inline"  src="{php echo tomedia($item['logo'])}" onerror="this.src='{php echo tomedia($cfg['shop_logo'])}'">
                </div>

                <div class="shop-list-info">
                        {php $distance= util::getDistance($item['lat'], $item['lng'], $_COOKIE['lat'], $_COOKIE['lng']);}
                        {if $distance>0}
                        <div class="y">{$distance}km</div>
                        {/if}
                        <div class="wap1 mr_5 title">{$item['shop_name']}</div>

                    <div>
                        {if !empty($item['dp']) && $item['dp']>0}
                        <div class="shop_star_s mr_10"><img src="{STYLE}images/{if $item['dp']>=5}5x{elseif $item['dp']>=4 && $item['dp']<=4.9}4x{elseif $item['dp']>=3 && $item['dp']<=3.9}3x{elseif $item['dp']>=2&& $item['dp']<=2.9}2x{elseif $item['dp']>=1 && $item['dp']<=1.9}1x{else}0x{/if}.png"></span></div>
                        {/if}
                        {if $item['renjun']>0}
                        <div class="renjun"><cite>￥</cite>{$item['renjun']}/人</div>
                    {/if}

                    <div class="shop-list-addr">
                        <div class="wap1">
                            {php $item['inco']=json_decode($item['inco'])}
                            {loop $item['inco'] $i}
                            <i>{$i}</i>
                            {/loop}
                        </div>
                    </div>
                </div>
            </a>
        </li>

        {/loop}
    </ul>

</div>
{/if}




</div>
</div>

<!--商铺结束-->


<!--底部广告-->
{php $advs3= commonGetData::getAdv(3);}
{if $advs3}
{template '../mobile/adv3'}
{/if}
<div style="display:none;">
    touchstart,touchmove,
    touchend,touchcancel
</div>
{if $cfg['animation_list']!=1}
<!--弹幕开始-->
<div class="NYwishes">
    <div class="close-swipe">x</div>
    <div class="swiper-container">
        <div  id="conts">
            <div class="dm">
                <div class="d_screen">
                    <div class="d_mask"></div>
                    <div class="d_show">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--弹幕结束 -->
{/if}

    {template '../mobile/footer'}
<script>
    $(function() {
        {if $cfg['animation_list']!=1}
        var queueUrl=createAppUrl('ajax_req', 'animation_list');
        $.ajax({
            url:queueUrl,
            type:'post',
            dataType:'json',
            success:function(date){
                var i=0;
                setInterval(function(){
                    if($(".d_show").height()<100){
                        if(i<date.length){
                            var list=$("<div><img src='"+date[i].thumb+"'/>"+date[i].val+"</div>");
                            input( list)
                            i++;
                        }else{
                            i=0
                            var list=$("<div><img src='"+date[i].thumb+"'/>"+date[i].val+"</div>");
                            input( list)
                            i++;
                        }

                    }else{
                        init_screen();
                        $($(".d_show").children("div").get(0)).remove();
                        if(i<date.length){
                            var list=$("<div><img src='"+date[i].thumb+"'/>"+date[i].val+"</div>");
                            input( list)
                            i++;
                        }else{
                            i=0
                            var list=$("<div><img src='"+date[i].thumb+"'/>"+date[i].val+"</div>");
                            input( list)
                            i++;
                        }
                    }
                },1500);
            }
        });
        function input(div){
            $(".d_show").append(div.fadeIn(1500));
        }
        function init_screen(){
            $(".d_show").find("div").show().each(function () {
                setInterval(function(){
                    $($(".d_show").children("div").get(0)).toggle(1500);
                },1500);
            });
        }
        $(".close-swipe").click(function() {
            $(".NYwishes").hide();
        })

        {/if}




          $(".view-li").click(function() {
              $(".view-li").css('width','20%');
              $(this).css('width','60%');
        })
        //显示地理位置
        var address = getCookie('address');
        if (address != '') {
            $('#nowcity').text(address);
        }
        //显示天气
        weather( '{$weatherdata}');
    });
    setInterval(getRTime, 1000); //页面倒计时使用
    var stage = "{$stage}"; //页面场次标识
    var id = ""; //场次信息
    var current_status = "{$current_status}"; //0待秒杀 1秒杀中 2已结束

    var obj;
    function getRTime(){
        if(current_status == "0"){ //距离开始
            var timestart = "{$xsms[$stage]['timestart']}";
            //截取小时 分钟
            var hour = timestart.substring(0, 2);
            var minute = timestart.substring(3, 5);
            var EndTime= new Date(); //截止时间
            if(parseInt(hour) < EndTime.getHours()){ //若第一场小时小于当前时间小时 说明是第二天
                EndTime.setDate(EndTime.getDate() + 1);
            }
            EndTime.setHours(hour, minute, 0);

            var NowTime = new Date();
            var t =EndTime.getTime() - NowTime.getTime();

            var d=Math.floor(t/1000/60/60/24);  //天
            var h=Math.floor(t/1000/60/60%24); //时
            var m=Math.floor(t/1000/60%60);  //分
            var s=Math.floor(t/1000%60); //秒

            $("#nav_time_title").html('距离开始');
            var hour = String(d*24 + h);
            if(hour.length == 1){
                hour = 0 + hour;
            }
            $("#nav_time_hour").html(hour);
            var minute = String(m);
            if(minute.length == 1){
                minute = 0 + minute;
            }
            $("#nav_time_minute").html(minute);
            var second = String(s);
            if(second.length == 1){
                second = 0 + second;
            }
            $("#nav_time_second").html(second);
        }else if(current_status == "1"){ //距结束
            var timeend = "{$xsms[$stage]['timeend']}";
            //截取小时 分钟
            var hour = timeend.substring(0, 2);
            var minute = timeend.substring(3, 5);
            var EndTime= new Date(); //截止时间
            if(parseInt(hour) < EndTime.getHours()){ //若第一场小时小于当前时间小时 说明是第二天
                EndTime.setDate(EndTime.getDate() + 1);
            }
            EndTime.setHours(hour, minute, 0);

            var NowTime = new Date();
            var t =EndTime.getTime() - NowTime.getTime();

            var d=Math.floor(t/1000/60/60/24);  //天
            var h=Math.floor(t/1000/60/60%24); //时
            var m=Math.floor(t/1000/60%60);  //分
            var s=Math.floor(t/1000%60); //秒

            $("#nav_time_title").html('距离结束');
            var hour = String(d*24 + h);
            if(hour.length == 1){
                hour = 0 + hour;
            }
            $("#nav_time_hour").html(hour);
            var minute = String(m);
            if(minute.length == 1){
                minute = 0 + minute;
            }
            $("#nav_time_minute").html(minute);
            var second = String(s);
            if(second.length == 1){
                second = 0 + second;
            }
            $("#nav_time_second").html(second);
        }else {
            $("#nav_time_title").html('已结束');
        }
    }


    function weather(data) {
        var res = eval("(" + data + ")");
        if(res.status !=1002){
            var high = res.data.forecast[0].high;
            var low = res.data.forecast[0].low;
            high = high.replace('高温 ', '');
            low = low.replace('低温 ', '');
            $('#high').text(low + " ~ " + high);
            $('#fx').text(res.data.forecast[0].date);
            var type = res.data.forecast[0].type;
            $('#type').text(type);
            if (type.indexOf('云') > 0) {
                $("#img_type").attr("src", "{STYLE}images/dy.png");
            } else if (type.indexOf('雨') > 0) {
                $("#img_type").attr("src", "{STYLE}images/by.png");
            } else if (type.indexOf('阴') > 0) {
                $("#img_type").attr("src", "{STYLE}images/y.png");
            } else {
                $("#img_type").attr("src", "{STYLE}images/dy.png");
            }
        }

    }

</script>
