{template '../mobile/header'}
<link  href="{MODULE_URL}{MIHUA_STYLE}css/pay.css" rel="stylesheet" type="text/css">
<div class="pay-info">

{php $adv_type=11}
<!--头部广告-->
{php $advs= commonGetData::getAdv($adv_type);}
{if !empty($advs)}
{template '../mobile/adv1'}
{/if}
<div class="header">
    {if $order['shop_id']>0}
    {php $item=Shop::getShopInfoAll($order['shop_id'])}
    <a href="{php echo $this->createMobileUrl('shop', array('shop_id' => $item['shop_id']))}">
        {if $item['logo']}
        <img class="radius_50" src="{$_W['attachurl']}{$item['logo']}">
        {else}
        <img src="{MODULE_URL}{MIHUA_STYLE}images/shop.png">
        {/if}
        <div class="name">{$item['shop_name']}</div>
        </a>
    {/if}
    <div class="money">￥{$price}</div>
    {if $info}
    <div class="info">{$info}</div>
    {/if}

</div>

<ul class="content">
    {if $info_url}
    <li>
        <div class="info-left">{if $info2}{$info2}{else}查看详情{/if}</div>
        <div class="info-right">
        <a href="{$info_url}"><img src="{MODULE_URL}{MIHUA_STYLE}images/right.png"></a></div>
    </li>
{/if}
    <li>
    <div class="info-left">付款方式</div>
    <div class="info-right">
        {if $params['type']=='credit'}
        余额支付
        {else if $params['type']=='wechat'}
        微信支付
        {else if $params['type']=='alipay'}
        支付宝支付
        {else if $params['type']=='delivery'}
        货到付款
        {else if $params['type']=='delivery'}
        货到付款
       {else}
        其他支付
       {/if}
    </div>
    </li>



    <div class="line"></div>
    <li>
        <div class="info-left">创建时间</div>
        <div class="info-right">{php echo date('Y-m-d H:i',TIMESTAMP)}</div>
    </li>

    <li>
        <div class="info-left">订单号</div>
        <div class="info-right">{$params['tid']}</div>
    </li>


    <li class="box-btn">
        <div class="box-left"><a  href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=index&m=yc_youliao" >返回首页</a></div>
        <div class="box-right">
            {if $order['shop_id']>0}
            <a  href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=shop&shop_id={$order['shop_id']}&m=yc_youliao" >返回商家</a>
            {else}
            <a  href="{$_W['siteroot']}app/index.php?i={$_W['uniacid']}&c=entry&do=user&m=yc_youliao" >个人中心</a>
        {/if}
        </div>
    </li>
</ul>
</div>
</div>
</body>
</html>