{php $advData= commonGetData::getAdv(14);}
{php $adv= $advData[0];}
{if $adv}
<!--首页弹出框广告-->

<script language="javascript" type="text/javascript" src="{STYLE}js/jquery.cookie.js"></script>
<script language="javascript" type="text/javascript" src="{STYLE}js/flash.js"></script>
<script language="javascript" type="text/javascript" src="{STYLE}js/homead.js"></script>

<div id="indexheadpopup">
    <a class="closepop" href="javascript:;" onclick="indexheadpopup.style.display='none'">
        <img  src="{STYLE}images/f_close.png" />
    </a>
    <ul>
    {if $adv['thumb']}
    <li><a href="{if empty($adv['link'])}{else}{$adv['link']}{/if}">
        {php $height= getimagesize($adv['thumb'])}
        {php $height= $height[1]}
        <div id="popupimg">{php echo $height}</div>
        <img  src="{$adv['thumb']}" /></a></li>
    {/if}

    </ul>
</div>

{/if}