<ul class="am-cf discount-content" >
    <div class="discount-li">
{loop $list $item}
<li class="space_list_li bg_white mb_10 ">
    <div class="my_dis_content f_14 c_999 am-cf mt_10 z"><span class="mr-10">编号：{$item['ordersn']}</span>
    {if  $item['status']==0}<span class="red">未支付</span>{elseif  $item['status']==1}<span class="green">已支付</span> {/if}</div>
    <div class="d_time">{php echo date('Y-m-d H:i', $item['createtime'])}</div>
    <div class="clearfix"></div>
    <div class="listDiv_group mr_10 mt_5 my_dis_group am-cf">
        <a href="{php echo $this->createMobileUrl('admin', array('op' => 'renew','id' => $item['id']))}" target="_blank">
            <div class="listDiv_groupImg  mr_10">
                {if $item['logo']}
                <img class="radius_50" src="{$_W['attachurl']}{$item['logo']}">
                {else}
                <img src="{STYLE}images/fabu_2.png">
                {/if}
                <h6 class="listDiv_groupH6 mt_5 cl">{$item['shop_name']}</h6>
                <div class="list_desc ">
                    <p class="red f_16 ml_15">￥{$item['price']}</p>
                </div>
            </div>
        </a>
    </div>
    <div class="my_dis_love am-cf">
        {if $item['nickname']}
        <span class="ml_15"><img src="{$item['avatar']}"> <em>{$item['nickname']}</em></span>
        {/if}
    </div>
    <div class="clearfix"></div>
</li>
{/loop}
    </div>
</ul>
<script>

    $(function(){
        var page = 0;
        var url=createAppUrl('{$_GPC['do']}','{$_GPC['op']}');
        url=getSearchUrl(url)+'&shop_id={$shop_id}';//获取查询的关键字和日期来组装url
        pagelist(page,url,'.discount-content','.discount-li','renew');
    });

</script>