<link rel="stylesheet" type="text/css" href="{STYLE}css/frame/commes.css" />
<link rel="stylesheet" href="{STYLE}css/frame/photoswipe.css">
<link rel="stylesheet" href="{STYLE}css/frame/default-skin/default-skin.css">
<script src="{STYLE}js/frame/photoswipe.min.js"></script>
<script src="{STYLE}js/frame/photoswipe-ui-default.min.js"></script>
<div class="discount-content" >
    <div class="discount-li">
{loop $list  $item}
<div class="rlist">
    <div class="box" >
        <div class="my_dis_left am-cf"  >
            <div class="dis_left_pic">
                <a href="{php echo $this->createMobileUrl('ring',array('id'=>$item['ring_id'],'op'=>'detail'))}">
                    <img src="{$item['avatar']}">
                </a>
            </div>
            <div class="dis_left_info">
                <h2   class="wrap">
                    <a href="{php echo $this->createMobileUrl('ring',array('id'=>$item['ring_id'],'op'=>'detail'))}">
                        <span class="">{$item['nickname']}</span>
                        <span class="f_12 c_999">{$item['distance']}km</span>
                    </a>
                </h2>
            </div>
            <div class="my_follow">
                <div class="feed_follow">
                    {if $item['isme']==1 || $item['isadmin']==1}
                    <a href="javascript:;" onclick="delete_r(this,{$item['ring_id']});" class="feed_delete "><em>删 除</em></a>
                    {else}
                    <a href="javascript:;" onclick="guanzhu(this,{$item['ring_id']});" class="follow "><em>{if $item['guanzhu']==1}<span class="green">已关注</span>{else}+关注{/if}
                    </em></a>
                    {/if}

                </div></div>
            ​
        </div>

        <div class="content">
            <div class="main ring">
                <p class="txt" >
                <a href="{php echo $this->createMobileUrl('ring',array('id'=>$item['ring_id'],'op'=>'detail'))}">
                    {$item['info']}
            </a>
                </p>

                {php $num=count($item['xsthumb'])}
                {if $num>0}
                <div class="my-gallery">
                {loop $item['xsthumb'] $i}
                 <figure>

                     <a href="{$i}" class="gallery-a" >
                <img class="pic" {if $num==1}style=width:30%;height:auto;{elseif $num==2}style=width:25%;height:100px;{/if} src="{$i}"   alt=""/>
                     </a>
                 </figure>
                {/loop}
                </div>
                {/if}
            </div>
            <div class="info">
                <span class="time">{php echo date('m-d H:i', $item['addtime'])}</span>
                {if $this->isShang()==0}
                <a class="comment-u" onclick="shang_show({$item['ring_id']});" ><span class="shang-icon" ></span> </a>
                {/if}
                <a class="comment-u" onclick="comment(this)" ><i class="iconfont">&#xe62c;</i>
                    <span class="ml_3 pingnum"> {$item['pnum']}</span></a>

                <a class="praise {loop $item['z'][0] $a} {if $a['iszan']==1}ye{/if}" {/loop} href="javascript:;" onclick="zan(this,{$item['ring_id']});"><i class="iconfont">&#xe643;</i>
                <span class="ml_3 zanum">{$item['znum']}</span></a>

            </div>
            <div class="text-box">
                <textarea class="comment" placeholder="评论…" autocomplete="off"></textarea>
                <button class="btn" onclick="ping(this,{$item['ring_id']});">回 复</button>
                <span class="word"><span class="length">0</span>/140</span>
                <div class="clearfix"></div>
            </div>
            <div class="{if $item['z'][0]}zan-total{/if} zan-avatar" >

                {loop $item['z'][0] $i}
                <img src="{$i['avatar']}"/>
                {/loop}
            </div>
            <div class="clearfix"></div>

            <div class="comment_flag {if $item['p'][0]}  comment-list{/if}">

                {loop $item['p'][0] $i}
                <div class="comment-box" user="self">
                    <img class="myhead" src="{$i['avatar']}" alt=""/>
                    <div class="comment-content">
                        <p class="comment-text"><span class="user">{$i['nickname']}</span></p>
                        <span class="pingtext">{$i['info']}</span>
                        <p class="comment-time">
                            {php echo date('m-d H:i', $i['addtime'])}
                            {if $i['isping']==1 || $item['isadmin']==1}
                            <a href="javascript:;" onclick="cancelPing(this,{$item['ring_id']});" class="comment-operate"><i class="iconfont">&#xe635;</i> </a>
                            {/if}
                        </p>
                    </div>
                </div>
                {/loop}
                {if count($item['p'][0])>3}<a href="javascript:;" class="comment-btn">更多评论...</a>{/if}
            </div>



        </div>
    </div>
</div>
<div class="clearfix"></div>
{/loop}
</div>
</div>
<script>
$(function(){
    photoSwipe();
    getImageSize();
var page = 0;
var url=createAppUrl('{$_GPC['do']}','{$op}');
 url=getSearchUrl(url);//获取查询的关键字和日期来组装url
pagelist(page,url,'.discount-content','.discount-li','ring');
});

</script>
{template '../mobile/photoswipe'}

