{template '../mobile/header'}
<link  href="{STYLE}css/iconfont.css" rel="stylesheet" type="text/css">
<link  href="{STYLE}css/shop.css" rel="stylesheet" type="text/css">
<script src="{STYLE}js/page.js"></script>
<style type="text/css">.sub_nav {display: none}</style>
{if $collect['id']}
<a class="page-phone page-start collect-link2 " href="javascript:void(0);" >
    <img src="{STYLE}images/f_start2.png">
</a>
{else}
<a class="page-phone page-start collect-link" href="javascript:void(0);" >
    <img src="{STYLE}images/f_start.png">
</a>
{/if}
<a class="page-back" href="{php echo $this->createMobileUrl('index')}" >
    <img src="{STYLE}images/f_home.png">
</a>
<a class="page-phone" href="{php echo $this->createMobileUrl('user')}">
    <img src="{STYLE}images/f_user.png">
</a>

<header>
    <div data-am-widget="slider" class="am-slider am-slider-a1 shop_side" data-am-slider='{&quot;directionNav&quot;:false}' >
        <ul class="am-slides"><li><a href=""><img src="{$_W['attachurl']}{$item['bgpic']}" onerror="this.src='{$shopBgpic}'"></a></li>
        </ul>
    </div>
    <div class="shop_logo">
        <img src="{php echo tomedia($item['logo'])}" onerror="this.src='{$shopLogo}'">
    </div>


</header>
<div class="shop_view_info">
    <h2>{$item['shop_name']}  </h2>
    {if !empty($item['dp']) && $item['dp']>0}
    <div class="shop_star_s"><img src="{STYLE}images/{if $item['dp']>=5}5x{elseif $item['dp']>=4 && $item['dp']<=4.9}4x{elseif $item['dp']>=3 && $item['dp']<=3.9}3x{elseif $item['dp']>=2&& $item['dp']<=2.9}2x{elseif $item['dp']>=1 && $item['dp']<=1.9}1x{else}0x{/if}.png"></div>
    {/if}
    <div class="other">
        <a href="javascript:;"><i class="iconfont">&#xe611;</i> {$item['area_name']}</a>
        <a href="javascript:;"><i class="iconfont">&#xe64e;</i> {$item['cate_name']}</a>
        {if $item['renjun']}
        <a href="javascript:;"><i class="iconfont">&#xe61e;</i> <cite>￥</cite>{$item['renjun']}/人</a>
        {/if}
        {if $item['intro']}
        <a href="javascript:;" id="intro"><i class="iconfont" style="18px">&#xe68e;</i> 店铺介绍</a>
        {/if}

    </div>

    <div class="am-cf f_14 c_000 announce">
    </div>

    <div class="shop-view-tag">
        <a href="javascript:;" data-am-modal="{target: '#shop-tag'}">
            {php $item['inco']=json_decode($item['inco'])}
            {loop $item['inco'] $i}
            <span>{$i}</span>
            {/loop}

        </a>
    </div>
    {if $item['intro']}
    <div class="view-telephone none no-border " id="intro-detail">
        {$item['intro']}
    </div>
    {/if}

    {if $item['address']}
    <div class="view-address"  onclick="getlocMap()">
        <i class="ml_10 iconfont y">&#xe604;</i>
        <span class="wrap"><i class="iconfont">&#xe60f;</i> {$item['address']}{$item['address_detail']}
        </span></div>
    {/if}
    {if $item['telphone']}
    <div class="view-telephone">
    <i class="ml_10 iconfont y">&#xe604;</i><a href="tel:{$item['telphone']}">
    <i class="iconfont">&#xe60e;</i> {$item['telphone']}
    </a></div>
{/if}


</div>
{if  $item['is_discount']==1}
<h5 class="shop-par-h5">
    <i class="payico iconfont">&#xe647;</i>  <a href="{php echo $this->createMobileUrl('shop',array('op'=>'discount','shop_id'=>$shop_id))}" class="y pay" >买 单</a>
    优惠买单<i class="iconfont">&#xe60d;</i>Pay
</h5>

<div class="shop-par-pay">
    <ul class="mihua_buy_list h_60">
        {loop $discount[0] $d}
        <li>
            <div class="wrap"><em class="y">
                {if $d['fullmoney']==0}
                无限制使用
                {else}
                满{$d['fullmoney']}元可用
                {/if}
            </em>
                {if $d['cardtype'] == 1 }
                抵扣{$d['cardvalue']}	元
                {elseif $d['cardtype'] == 3}
                随机最高减{$d['randomnum']}元
                {else}
                {php echo $d['cardvalue']*10} </span>折
                {/if}
            </div>
            {if $d['needcredit']>0}
            <p>您现有积分，需抵扣<span class="red"> {$d['needcredit']}</span>积分</p>
            {/if}
            <p>起：{php echo date('Y-m-d',$d['starttime'])}<span class="ml_5">止：{php echo date('Y-m-d',$d['endtime'])}</span></p>

        </li>
        {/loop}
    </ul>
    {if $discount[0]}
    <div class="rule_all"><a href="javascript:;">显示全部买单 <i class="iconfont f_14">&#xe603;</i></a>
    </div>
    {/if}
</div>

    {/if}

    {if $goods[0]}
<!--商品列表-->

<h5 class="shop-par-h5">
    <div class="shopico">
    <img src="{STYLE}images/shop.png">
    </div>
    店铺热卖<i class="iconfont">&#xe60d;</i>Hotsale</h5>
<ul class="shop-view-parUl fresh-comment">
    {loop $goods[0] $good}
    <li>
    <a href="{php echo $this->createMobileUrl('good',array('shop_id'=>$shop_id,'id'=>$good['goods_id']))}">
        <div class="view_logo am-fl"><img src="{$good['thumb']}">
            {if $good['is_time']==1}<em>秒杀</em>
            {elseif $good['is_group']==1}<em>团购</em>
            {elseif $good['isfirstcut']>0}<em>首单优惠</em>
            {/if}
        </div>
        <div class="view_info">
            <h6 class="wrap2">{$good['title']}</h6>
            <p class="price">￥<i>
                {if $good['is_time']==1}{$good['time_money']}
                {elseif $good['is_group']==1}{$good['groupprice']}
                {else}{$good['marketprice']}
                {/if}
            </i><del>￥{$good['productprice']}</del></p>
            <div class="footer">已售{$good['sales']}</div>
        </div>
    </a>
</li>
    {/loop}
</ul>
{/if}



<div class="h_60"></div>
<div id="mihua-msg"></div>
<script type="text/javascript">
    $(function() {
        var url=createAppUrl('shop','display');
        url=url+'&shop_id={$shop_id}';//获取查询的关键字和日期来组装url
        var page = 1;
        pagelist(page,url,'.shop-par-h5','.fresh-comment','shop_goods');
    });
    $('.rule_all a').on('click', function() {
        $('.mihua_buy_list').removeClass('h_60');
        $('.rule_all').html('');
    });

    $(".collect-link2").on("click", function () {
        var url = '{php echo $this->createMobileUrl('user',array('op'=>'mycollect','collect'=>'cancel','id'=>$collect['id']));}';
        $.getJSON(url,{},function(s){
            if(s.result==1){
                tip ("取消收藏成功!");
                tip_close();
                window.location.reload();
            }else{
                tip("取消收藏失败!");
                tip_close();
            }
        })
    })
    $(".collect-link").on("click", function () {
        var url = '{php echo $this->createMobileUrl('user',array('op'=>'mycollect','collect'=>'add','shop_id'=>$shop_id,'type'=>3));}';
        $.getJSON(url,{},function(s){
            if(s.result==1){
                tip ("收藏成功!");
                tip_close();
                window.location.reload();
            }else{
                tip("收藏失败!");
                tip_close();
            }
        })
    })
    function getlocMap() {
        var lng = "{$item['lng']}"
        var lat = "{$item['lat']}"
        var address = "{$item['address']}{$item['address_detail']}"
        var url = "{php echo $this->createMobileUrl('shop',array('gps'=>'1','shop_id'=>$shop_id))}"
        getMap(lng,lat,address,url)
    }
</script>



