{template 'web/shop/shop_header'}
{template 'web/shop/shop_left'}

<section id="content">
<section >
    <section class="padder">
        <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
            <li><a href="{php echo $this->createWebUrl('shop_index')}"><i class="fa fa-home"></i>首页</a></li>
            <li class="active">店铺功能管理</li>
        </ul>

        <ul class="nav nav-tabs">
            <li {if $op =='display'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop_fun',array('op' =>'display'))}">店铺功能管理</a></li>


        </ul>

        <div class="main">
            <link rel="stylesheet" href="../addons/yc_youliao/public/css/common.css" type="text/css" />
            <div class="panel panel-info" >
                <div class="panel-body  table-responsive">

                        <div class="tableBox">
                           <form action="" method="post" onsubmit="return formcheck(this)">
                           <table bordercolor="#dbdbdb" cellspacing="0" width="100%" border="1px"  class="tablestyle" >
                                <tr class="theader">


                                    <td>商铺LOGO</td>
                                    <td>商铺名称</td>
                                    <td>到期时间</td>
                                    <td>是否开启	</td>
                                    <td>首页推荐	</td>
                                    <td>秒杀	</td>
                                    <td>拼团	</td>
                                    <td>优惠买单	</td>
                                </tr>


                                <tr>

                                    <td class="shop-logo"> <img src="{php echo tomedia($item['logo']);}"
                                         onerror="javascript:this.src='{SQ}public/images/noimg.png'"   />
                                    </td>
                                    <td>{$item['shop_name']}</td>
                                    <td>
                                       {php echo date('Y-m-d H:i', $item['endtime'])}

                                    </td>
                                    <td class="text-l">

                                        <label class="switch">
                                            <input type="checkbox" {if $item['is_open']==1} onclick="opstatus({$item['shop_id']},'is_open',0);" checked='checked'{else}onclick="opstatus({$item['shop_id']},'is_open',1);"{/if}>
                                            <span></span> </label>
                                    </td>
                                    <td class="listbtn">
                                    {if $item['is_hot']==1}
                                        <i class="fa fa-check-square-o"></i>
                                    {else}
                                    <a href="{php echo $this->createWebUrl('shop_fun', array('op' => 'post', 'f_type' => '2'))}"><i class="fa fa-edit"></i>申请开通</a>
                                     {/if}
                                    </td>

                                    <td class="listbtn">
                                        {if $item['is_time']==1}
                                        <i class="fa fa-check-square-o"></i>
                                        {else}
                                        <a href="{php echo $this->createWebUrl('shop_fun', array('op' => 'post', 'f_type' => '3'))}"><i class="fa fa-edit"></i>申请开通</a>
                                        {/if}
                                    </td>

                                    <td class="listbtn">
                                        {if $item['is_group']==1}
                                        <i class="fa fa-check-square-o"></i>
                                        {else}
                                        <a href="{php echo $this->createWebUrl('shop_fun', array('op' => 'post', 'f_type' => '4'))}"><i class="fa fa-edit"></i>申请开通</a>
                                        {/if}
                                    </td>
                                    <td class="listbtn">
                                        {if $item['is_discount']==1}
                                        <i class="fa fa-check-square-o"></i>
                                        {else}
                                        <a href="{php echo $this->createWebUrl('shop_fun', array('op' => 'post', 'f_type' => '5'))}"><i class="fa fa-edit"></i>申请开通</a>
                                        {/if}

                                    </td>

                                </tr>


                            </table>






                    </div>

                </div>

            </div>
        </div>
    </section>
</section>
</section>
</body>
</html>