{template 'web/header'}
{template 'web/left'}

      <section id="content">
        <section class="vbox">
          <section class="padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
              <li><a href="{php echo $this->createWebUrl("index")}"><i class="fa fa-home"></i>首页</a></li>
              <li class="active">广告管理</li>          
            </ul> 

<ul class="nav nav-tabs">
    <li {if $op == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('adv',array('op' =>'display'))}">广告列表</a></li>
    {if $op == 'post'} <li class="active" ><a href="{php echo $this->createWebUrl('adv',array('op' =>'post'))}">添加广告</a></li>{/if}
</ul>
{if $op == 'display'}
<div class="main">
    <div class="panel panel-info"  >
        <div class="panel-body  table-responsive" style="padding:15px;background:#fff;">
            <div class="jsglNr">
                <div class="selectNr" >
                    <div class="left">
                        <a href="{php echo $this->createWebUrl('adv',array('op' =>'post'))}">添加广告</a>
                    </div>
        <table class="table table-hover">
            <thead class="navbar-inner">
                <tr class="theader">
                    <th>ID</th>
                    <th>缩略图</th>
                    <th>显示顺序</th>					
                    <th>标题</th>
                    <th>位置</th>
                    <th >操作</th>
                </tr>
            </thead>
            <tbody>
                {loop $list $adv}
                <tr>
                    <td>{$adv['id']}</td>
                    <td class="tableadv"><img src="{php echo tomedia($adv['thumb']);}"
                             onerror="javascript:this.src='{SQ}public/images/noimg.png'"   /></td>
                    <td>{$adv['displayorder']}</td>
                    <td>{$adv['advname']}</td>{php $adv['type']=json_decode($adv['type'])}
                    <td>{if in_array('1',(array)$adv['type'])}首页顶部{/if}
                        {if in_array('2',(array)$adv['type'])}首页中部{/if}
                        {if in_array('3',(array)$adv['type'])}首页底部{/if}
                        {if in_array('4',(array)$adv['type'])}拼团顶部{/if}
                        {if in_array('5',(array)$adv['type'])}秒杀顶部{/if}
                        {if in_array('6',(array)$adv['type'])}首单优惠顶部{/if}
                        {if in_array('7',(array)$adv['type'])}优惠买单顶部{/if}
                        {if in_array('8',(array)$adv['type'])}同城频道顶部{/if}
                        {if in_array('9',(array)$adv['type'])}附近商圈顶部{/if}
                        {if in_array('16',(array)$adv['type'])}附近商圈中部{/if}
                        {if in_array('10',(array)$adv['type'])}圈子顶部{/if}
                        {if in_array('11',(array)$adv['type'])}支付页面顶部{/if}
                        {if in_array('12',(array)$adv['type'])}商家入驻顶部{/if}
                        {if in_array('15',(array)$adv['type'])}搜索页面顶部{/if}
                        {if in_array('13',(array)$adv['type'])}个人中心顶部背景图{/if}
                        {if in_array('14',(array)$adv['type'])}首页弹出框广告{/if}
                        {if in_array('17',(array)$adv['type'])}红包榜{/if}
                        </td>

                    <td class="listbtn"><a href="{php echo $this->createWebUrl('adv', array('op' => 'post', 'id' => $adv['id']))}"><i class="fa fa-edit"></i>修改</a>
                        <a class="label label-danger pad-5 " href="{php echo $this->createWebUrl('adv', array('op' => 'delete', 'id' => $adv['id']))}"><i class="fa fa-exclamation-triangle"></i>删除</a>
                      </td>
                </tr>
                {/loop}
            </tbody>
        </table>
            </div></div>
        {$pager}
    </div>
</div>
{elseif $op == 'post'}
<div class="main">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
        <input type="hidden" name="id" value="{$adv['id']}" />
        <div class="panel panel-default">
            <div class="panel-heading">
                幻灯片设置
            </div>
            <div class="panel-body" >
                <div class="form-group" >
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">幻灯片标题</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="advname" id='advname' class="form-control" value="{$adv['advname']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">幻灯片图片</label>
                    <div class="col-sm-9 col-xs-12">
                        {php echo tpl_form_field_image('thumb',$adv['thumb']);}
                        <p class="help-block">建议上传宽度768px高度300px图片,顶部广告图片需预留搜索框100px空隙</p>
                    </div>

                </div>


                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">幻灯片链接</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="link" id='link' class="form-control" value="{$adv['link']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否显示</label>
                    <div class="col-sm-9 col-xs-12">
                        <label class="radio-inline"><input type="radio" name="enabled" value="1" id="enabled1" {if empty($adv) || $adv['enabled'] == 1}checked="true"{/if} /> 是</label>
                        <label class="radio-inline"><input type="radio" name="enabled" value="0" id="enabled2"  {if !empty($adv) && $adv['enabled'] == 0}checked="true"{/if} /> 否</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">位置</label>
                    <div class="col-sm-9 col-xs-12 advcheck">
                        {php $adv['type']=json_decode($adv['type'])}
                        <select name="" id="myselect">
                            <option value="1" data-checked="{if in_array('1',(array)$adv['type'])}1{else}0{/if}">首页顶部</option>
                            <option value="2" data-checked="{if in_array('2',(array)$adv['type'])}1{else}0{/if}">首页中部</option>
                            <option value="3" data-checked="{if in_array('3',(array)$adv['type'])}1{else}0{/if}">首页底部</option>
                            <option value="4" data-checked="{if in_array('4',(array)$adv['type'])}1{else}0{/if}">拼团顶部</option>
                            <option value="5" data-checked="{if in_array('5',(array)$adv['type'])}1{else}0{/if}">秒杀顶部</option>
                            <option value="6" data-checked="{if in_array('6',(array)$adv['type'])}1{else}0{/if}">首单优惠顶部</option>
                            <option value="7" data-checked="{if in_array('7',(array)$adv['type'])}1{else}0{/if}">优惠买单顶部</option>
                            <option value="8" data-checked="{if in_array('8',(array)$adv['type'])}1{else}0{/if}">同城频道顶部</option>
                            <option value="9" data-checked="{if in_array('9',(array)$adv['type'])}1{else}0{/if}">附近商圈顶部</option>
                            <option value="16" data-checked="{if in_array('9',(array)$adv['type'])}1{else}0{/if}">附近商圈中部</option>
                            <option value="10" data-checked="{if in_array('10',(array)$adv['type'])}1{else}0{/if}">圈子顶部</option>
                            <option value="11" data-checked="{if in_array('11',(array)$adv['type'])}1{else}0{/if}">支付页面顶部</option>
                            <option value="12" data-checked="{if in_array('12',(array)$adv['type'])}1{else}0{/if}">商家入驻顶部</option>
                            <option value="13" data-checked="{if in_array('13',(array)$adv['type'])}1{else}0{/if}">个人中心顶部背景图</option>
                            <option value="14" data-checked="{if in_array('14',(array)$adv['type'])}1{else}0{/if}">首页弹出框广告</option>
                            <option value="15" data-checked="{if in_array('15',(array)$adv['type'])}1{else}0{/if}">搜索页面顶部</option>
                            <option value="17" data-checked="{if in_array('17',(array)$adv['type'])}1{else}0{/if}">红包榜</option>
                            <!--18开始-->
                        </select>
                        <p class="help-block">仅顶部广告为动画</p>
                    </div>
                </div>
                <script>
                    function SelectBox(options) {
                        this.hasSelect = []
                        this.id = options.id
                        this.name = options.name
                        this.init()
                      }
                      SelectBox.prototype.init = function () {
                        var Box = $('<div class="m-select"></div>')
                        var boxSelect = $('<div class="boxSelect">请选择</div>')
                        Box.append(boxSelect)
                        var str = '<div class="selectWap">'
                        var _self = this
                        $(this.id).children().each(function (i, v) {
                          var _this = $(this)
                          str += '<label for="type' + i + '" class="s-label">'
                          if ( _this.data('checked') == 1) {
                            str += '<input type="checkbox" name="' + _self.name + '" value="' + _this.val() + '" checked class="s-checkbox" id="type' + i + '">'
                            str += '<span class="s-checkbox__inner is-checked"></span>'
                            _self.hasSelect.push(_this.text())
                          } else {
                            str += '<input type="checkbox" name="' + _self.name + '"  value="' + _this.val() + '" class="s-checkbox" id="type' + i + '">'
                            str += '<span class="s-checkbox__inner"></span>'
                          }
                          str += '<span class="s-text">' + _this.text() + '</span>'
                          str += '</label>'
                        })
                        str += '</div>'
                        if (_self.hasSelect.length > 0) {
                          boxSelect.text(_self.hasSelect.join(' 、 '))
                        }
                        $(str).appendTo(Box)
                        Box.on('click', '.boxSelect', function () {
                          var _this = $(this)
                          if (!_this.hasClass('show')) {
                            _this.addClass('show')
                            $('.selectWap').addClass('h180')
                          } else {
                            _this.removeClass('show')
                            $('.selectWap').removeClass('h180')
                          }
                        })
                        Box.on('click', '.s-checkbox', function () {
                          var _this = $(this)
                          if (this.checked) {
                            _self.hasSelect.push(_this.siblings('.s-text').text())
                            _this.siblings('.s-checkbox__inner').addClass('is-checked')
                          } else {
                            var index = _self.hasSelect.indexOf(_this.siblings('.s-text').text())
                            _self.hasSelect.splice(index, 1)
                            _this.siblings('.s-checkbox__inner').removeClass('is-checked')
                          }
                          if (_self.hasSelect.length > 0) {
                            $('.boxSelect').text(_self.hasSelect.toString())
                          } else {
                            $('.boxSelect').text('请点击选择(多选)')
                          }
                        })
                        $(this.id).replaceWith(Box)
                      }
                        $(function () {
                            var select = new SelectBox({id: '#myselect', name: 'type[]'})
                        })
                </script>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-9 col-xs-12">
                        <input type="text" name="displayorder" class="form-control" value="{$adv['displayorder']}" />
                    </div>
                </div>
            </div>
        </div>
        
        <div class="width100 ">
	    <input name="submit" type="submit" value="提交" class="btn btn-primary">
		</div>

        <input type="hidden" name="token" value="{$_W['token']}" />
    </form>
</div>
</div>
{/if}
</section>
</section>
</section>
{template 'web/footer'}