{template 'web/header'}
{template 'web/left'}

<section id="content">
	<section class="vbox">
		<section class="scrollable padder">
			<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
				<li><a href="{php echo $this->createWebUrl("index")}"><i class="fa fa-home"></i>首页</a></li>
				<li class="active">信息管理</li>
			</ul>
<ul class="nav nav-tabs">
	<li {if $operation == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('info',array('op' =>'display'))}">信息中心</a></li>
	<li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('info',array('op' =>'post'))}">{if empty($item['id'])}添加信息{else}编辑信息{/if}</a></li>
</ul>

{if $operation == 'display'}
<div class="main">
	<div class="panel panel-info">
		<div class="panel-heading">筛选</div>
		<div class="panel-body">
			<form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="yc_youliao" />
				<input type="hidden" name="do" value="info" />
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键词</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="可查询关键词">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">所属频道</label>
					<div class="col-sm-3 col-xs-12">					
						<select name="mid" class="form-control">
							<option value="">全部频道</option>
							{loop $modulecenterlist $mrow}
								{if $mrow['children']}
									<optgroup label="{$mrow['name']}">
										{loop $mrow['children'] $mrowrow}
										<option value ="{$mrowrow['id']}" {if $mrowrow['id'] == $_GPC['mid']}selected="selected"{/if}>┗ {$mrowrow['name']}</option>
										{/loop}
									</optgroup>
								{else}
									<option value="{$mrow['id']}" {if $mrow['id'] == $_GPC['mid']}selected="selected"{/if}>{$mrow['name']}</option>
								{/if}
								
							{/loop}
						</select>
					</div>
					<div class="col-sm-7 col-xs-12">
						<input type="hidden" name="status" value="{$status}" />
						<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
						<button type="button" class="btn btn-default">总记录数：{$total}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-body table-responsive">
			<form action="" method="post">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th class="row-first" style="width:5%;">选择 </th>
						<th style="width:10%;">所属频道</th>
						<th style="width:8%;">支付</th>
						<th style="width:15%;">位置</th>
						<th style="width:8%;">发布人</th>
						<th style="width:23%;">标题</th>					
						<th style="width:10%;">发布时间</th>
						<th style="text-align:right;">操作</th>
					</tr>
				</thead>
				<tbody>
					{loop $list $message}
					<tr>
						<td><input class="checkbox" name="akid[{$message['id']}]" value="1" type="checkbox"></td>
						<td><span style="color:#900;">[{php echo getmodulename($_W['uniacid'],$message['mid']);}]</span></td>
						<td>
							{if $message['isneedpay'] == 1}
								{if $message['haspay'] == 1}
								<span class="label label-success">已支付</span>
								{else}
								<span class="label label-warning">未支付</span>
								{/if}
							{/if}
						</td>
						<td><span class="label label-warning">{$message['city']}{$message['district']}</span></td>
						<td><span class="label label-default">{$message['nickname']}</span></td>
						<td>{$message['fieldlist']['title']} {if $message['isding'] == 1}<span class="label label-info">置顶</span>{/if}</td>
						<td>{php echo date("Y-m-d H:i:s",$message['createtime'])}</td>
						<td style="text-align:right;">
							<button type="button" data-toggle="modal" data-target="#formModal{$message['id']}" class="btn btn-info btn-sm">置顶</button>
							{if $message['status'] == 0}
							<a href="{php echo $this->createWebUrl('info', array('op' => 'shenhe', 'id' => $message['id']))}" onclick="return confirm('确认要审核该条信息吗？');return false;" class="btn btn-default btn-sm">审核</a>
							{else}
							<span class="label label-success">已审核</span>
							{/if}
							<a href="{php echo $this->createWebUrl('info', array('op' => 'post', 'id' => $message['id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="修改"><i class="fa fa-edit"></i></a>
							<a href="{php echo $this->createWebUrl('info', array('op' => 'delete', 'id' => $message['id']))}"class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认删除？');return false;" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
						</td>
					</tr>
					{/loop}
					{if $list}
					<tr>
						<td></td>
						<td colspan="7">
							<button class="btn btn-success" onclick="selall()" type="button">全选</button>
							<button class="btn btn-default" onclick="cancelall()" type="button">取消</button>
							<button type="submit" name="allsh" value="allsh" class="btn btn-primary" onclick="return confirm('你真的要审核吗？') ? true : false;">批量审核</button>
							<button type="submit" name="alldel" value="alldel" class="btn btn-danger" onclick="return confirm('你真的要删除吗？') ? true : false;">批量删除</button>
						</td>
					</tr>
				{/if}
				</tbody>
			</table>
			<input name="token" value="{$_W['token']}" type="hidden">
			</form>
			{$pager}
		</div>
	</div>
</div>
{loop $list $message}
<div class="modal fade" id="formModal{$message['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">置顶</h4>
			</div>
			<div class="modal-body">
				<form action="" method="post" class="form-horizontal form">
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否置顶</label>
						<div class="col-sm-9 col-xs-12">
							<label class='radio-inline'>
								<input type='radio' name='isding' value='1' {if $message['isding']==1}checked{/if} /> 是
							</label>
							<label class='radio-inline'>
								<input type='radio' name='isding' value='0' {if $message['isding']==0}checked{/if} /> 否
							</label>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">置顶结束时间</label>
						<div class="col-sm-9 col-xs-12">
							{php echo tpl_form_field_date('dingtime',date('Y-m-d H:i:s',$message['dingtime']),true);}
						</div>
					</div>
					<div class="modal-footer form-submit">
						<input name="op" value="zhiding" type="hidden">
						<input name="id" value="{$message['id']}" type="hidden">
						<input name="submit" class="btn btn-primary" value="提交" type="submit">
						<input name="token" value="{$_W['token']}" type="hidden">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{/loop}
<script>
	function selall(){
		$("input.checkbox").prop('checked',true);
	}
	function cancelall(){
		$("input.checkbox").prop('checked',false);
	}
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});
</script>
{/if}
{if $operation == 'post'}
<div class="main">
		<form action="./index.php" method="post" class="form-horizontal" role="form" >
			<input type="hidden" name="c" value="site" />
			<input type="hidden" name="a" value="entry" />
			<input type="hidden" name="m" value="yc_youliao" />
			<input type="hidden" name="do" value="info" />
		<input type="hidden" name="id" value="{$message['id']}" />
		<input type="hidden" name="op" value="dopost" />
		<div class="panel panel-default">
			<div class="panel-heading">{if empty($message['id'])}添加信息{else}编辑信息{/if}</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">选择模型</label>
					<div class="col-sm-9 col-xs-12">
						<select name="mid" class="form-control">
							<option value="0">--请选择模型--</option>
							{loop $modulelist $mrow}
								{if $mrow['children']}
									<optgroup label="{$mrow['name']}">
										{loop $mrow['children'] $mrowrow}
										<option value ="{$mrowrow['id']}" {if $mrowrow['id'] == $message['mid']}selected="selected"{/if}>┗ {$mrowrow['name']}</option>
										{/loop}
									</optgroup>
								{else}
									<option value="{$mrow['id']}" {if $mrow['id'] == $message['mid']}selected="selected"{/if}>{$mrow['name']}</option>
								{/if}
								
							{/loop}
						</select>
					</div>
				</div>
				
				<!-- 选择发布人或者马甲 -->
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span class="red">*</span>发布人</label>
					<div class="col-sm-6 col-xs-6">
						<input type="radio" name="poster" value="1" checked> 粉丝
						<input type="radio" name="poster" value="2" id="check-majia"> 马甲
					</div>
				</div>
				<div class="form-group" id="gatherFans" data-openid="{php echo $message['openid']}" data-avatar="{php echo $message['avatar']}">
					<div class="col-sm-offset-3 col-md-offset-2 col-sm-6 col-xs-6">
						<div class="input-group">
							<input type="text" class="form-control" name="keyword" value="" id="search-kwd" placeholder="请输入粉丝昵称/姓名/手机号/用户编号" />
							<span class='input-group-btn'><button type="button" class="btn btn-default" onclick="search_members();">搜索</button></span>
						</div>
						<input type='hidden' id='openid' name='openid' value="{if $message['openid'] != '0' && $message['openid'] != ''}{$message['openid']}{/if}" />
						<span class='shop-logo'><img  id="picc" src="{if $message['openid'] != '0' && $message['openid'] != ''}{$message['avatar']}{else}{$item['avatar']}{/if}" onerror="this.src='../addons/yc_youliao/public/images/avatar_default.jpg'"/><span id='nickname'>{if $message['openid'] != '0' && $message['openid'] != ''}{$message['nickname']}{/if}</span>
						<div id="module-menus"></div>
					</div>
				</div>
				
				<div class="form-group" id="gatherMajia" style="display: none;">
					<div class="col-sm-offset-3 col-md-offset-2 col-sm-6 col-xs-6">
						<select name="gatherMajiaAvatar" class="form-control">
							<option value="0">随机头像</option>
							<option value="1">头像1</option>
							<option value="2">头像2</option>
							<option value="3">头像3</option>
							<option value="4">头像4</option>
							<option value="5">头像5</option>
							<option value="6">头像6</option>
							<option value="7">头像7</option>
							<option value="8">头像8</option>
						</select>
						<br>
						<div>
							<img src="{if $message['openid'] == '0'}{$message['avatar']}{else}{$message['']}{STYLE}images/tx{php echo rand(1,8)}.gif{/if}" width="60" class="img-responsive" id="gatherMajiaImg">
							<input type="hidden" name="avatar" value="{if $message['openid'] == '0'}{$message['avatar']}{else}{$message['']}{STYLE}images/tx{php echo rand(1,8)}.gif{/if}">
						</div>
						<br>
						<div><input type="text" name="nickname" class=form-control value="{if $message['openid'] == '0'}{$message['nickname']}{/if}" placeholder="马甲名" maxlength="10" style="width: 200px;"></div>
					</div>
				</div>
				{if $message['isneedpay'] == 1}
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">支付状态</label>
					<div class="col-sm-2 col-xs-12">
						<select name="haspay" class="form-control">
							<option value="0" 	{if $message['haspay'] == 0}selected{/if}>未支付</option>
							<option value="1" {if $message['haspay'] == 1}selected{/if}>已支付</option>
						</select>
					</div>
				</div>
				{/if}


				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">置顶</label>
					<div class="col-sm-2 col-xs-12">
						{php echo tpl_form_field_date('dingtime',date('Y-m-d H:i:s',$message['dingtime']),true);}
					</div>
				</div>



				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">浏览量</label>
					<div class="col-sm-2 col-xs-12">
						<div class="input-group">
							<input name="views" type="number" class="form-control" value="{$message['views']}"  />

						</div>
					</div>
				</div>
				<div class="form-group" >
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">坐标</label>
					<div class="col-sm-9 col-xs-12">

						<div class="lt">
							经度 <input type="text" name="lng" id="map_x" value="{$message['lng']}" class="scAddTextName w200">
							纬度 <input type="text" name="lat" id="map_y" value="{$message['lat']}" class="scAddTextName w200">
						</div>
						<div class="btn-bdmap">
							<a style="margin-left: 10px;" onclick="getMapXY();"   class="seleSj">百度地图</a>
						</div>
						<!--百度地图开始-->
						<input type="text" class="form-control input-text" id="suggestId" style="display:none;" placeholder="可以输入指定位置搜索">

						<div id="searchResultPanel" ></div>

						<div id="allmap" ></div>

					</div>
				
				<div id="fieldhtml">
				{loop $fieldslist $row}
					{if $row['mtype'] == 'text' || $row['mtype'] == 'idcard'}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">{if $row['isrequired'] == 1}<span style="color:red;">*</span>{/if}{$row['name']}</label>
						<div class="col-sm-9 col-xs-12">
							{if $row['danwei'] != ''}
								<div class="input-group">
									<input name="{$row['enname']}" type="text" class="form-control" value="{$content[$row['enname']]}" placeholder="请填写{$row['name']}" />
									<span class="input-group-addon">{$row['danwei']}</span>
								</div>
							{else}
								<input name="{$row['enname']}" type="text" class="form-control" value="{$content[$row['enname']]}" placeholder="请填写{$row['name']}" />
							{/if}
						</div>
					</div>
					{/if}
					{if $row['mtype'] == 'number' || $row['mtype'] == 'telphone'}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">{if $row['isrequired'] == 1}<span style="color:red;">*</span>{/if}{$row['name']}</label>
						<div class="col-sm-9 col-xs-12">
							{if $row['danwei'] != ''}
								<div class="input-group">
									<input name="{$row['enname']}" type="text" class="form-control" value="{$content[$row['enname']]}" placeholder="请填写{$row['name']}" />
									<span class="input-group-addon">{$row['danwei']}</span>
								</div>
							{else}
								<input name="{$row['enname']}" type="text" class="form-control" value="{$content[$row['enname']]}" placeholder="请填写{$row['name']}" />
								{if strstr($content[$row['enname']], 'http')}<img src="{$content[$row['enname']]}">{/if}
							{/if}
						</div>
					</div>
					{/if}
					{if $row['mtype'] == 'longtext'}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">{if $row['isrequired'] == 1}<span style="color:red;">*</span>{/if}{$row['name']}</label>
						<div class="col-sm-9 col-xs-12">
							<textarea name="{$row['enname']}" class="form-control" placeholder="请填写{$row['name']}">{$content[$row['enname']]}</textarea>
						</div>
					</div>
					{/if}
					{if $row['mtype'] == 'radio'}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">{if $row['isrequired'] == 1}<span style="color:red;">*</span>{/if}{$row['name']}</label>
						<div class="col-sm-9 col-xs-12">
							{loop $row['mtypeconarr'] $rowrow}
							<label class='radio-inline'>
								<input name="{$row['enname']}" value="{$rowrow}" {if $content[$row['enname']] == $rowrow}checked="checked"{/if} type="radio" /> {$rowrow}
							</label>
							{/loop}
						</div>
					</div>
					{/if}
					{if $row['mtype'] == 'checkbox'}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">{if $row['isrequired'] == 1}<span style="color:red;">*</span>{/if}{$row['name']}</label>
						<div class="col-sm-9 col-xs-12">
							{loop $row['mtypeconarr'] $rowrow}
							<label class='checkbox-inline'>
								<input name="{$row['enname']}[]" value="{$rowrow}" {if in_array($rowrow,$content[$row['enname']])}checked="checked"{/if} type="checkbox" /> {$rowrow}
							</label>
							{/loop}
						</div>
					</div>
					{/if}
					{if $row['mtype'] == 'select'}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">{if $row['isrequired'] == 1}<span style="color:red;">*</span>{/if}{$row['name']}</label>
						<div class="col-sm-9 col-xs-12">
							<select name="{$row['enname']}">
								{loop $row['mtypeconarr'] $rowrow}
								<option value="{$rowrow}" {if $content[$row['enname']] == $rowrow}selected="selected"{/if}>{$rowrow}</option>
								{/loop}
							</select>
						</div>
					</div>
					{/if}
					{if $row['mtype'] == 'date'}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">{if $row['isrequired'] == 1}<span style="color:red;">*</span>{/if}{$row['name']}</label>
						<div class="col-sm-9 col-xs-12">
							{php echo tpl_form_field_date($row['enname'],date('Y-m-d',$content[$row['enname']]));}
						</div>
					</div>
					{/if}
					{if $row['mtype'] == 'datetime'}
					<div class="form-group">
						<label class="col-xs-12 col-sm-3 col-md-2 control-label">{if $row['isrequired'] == 1}<span style="color:red;">*</span>{/if}{$row['name']}</label>
						<div class="col-sm-9 col-xs-12">
							{php echo tpl_form_field_date($row['enname'],date('Y-m-d H:i',strtotime($content[$row['enname']])),true);}
						</div>
					</div>
					{/if}
					{if $row['mtype'] == 'images'}
						<div class="form-group">
							<label class="col-xs-12 col-sm-3 col-md-2 control-label">{if $row['isrequired'] == 1}<span style="color:red;">*</span>{/if}{$row['name']}</label>
							<div class="col-sm-9 col-xs-12">
								{php echo tpl_form_field_multi_image($row['enname'], $content[$row['enname']])}
							</div>
						</div>
					{/if}
				{/loop}
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">是否审核</label>
					<div class="col-sm-9 col-xs-12">
						<label class='radio-inline'>
							<input type='radio' name='status' value='1' {if $message['status']==1}checked{/if} /> 是
						</label>
						<label class='radio-inline'>
							<input type='radio' name='status' value='0' {if $message['status']==0}checked{/if} /> 否
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12 form-submit">
			<input type="submit" name="submit" value="提交" class="btn btn-primary" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>
<script type="text/javascript">
$(function(){

	// 发布人选择 马甲或粉丝
       $('input[name="poster"]').change(function(){
       		if($(this).val() == 1) {
       			$("#gatherMajia").hide();
       			$("#gatherFans").show();
       		} else {
       			$("#gatherFans").hide();
       			$("#gatherMajia").show();
       		}
       });
       var hasOpenid = $("#gatherFans").data('openid');
       var hasAvatar = $("#gatherFans").data('avatar');
		if (hasOpenid == "0") {
				$('#check-majia').trigger('click');
			}

       // 马甲头像响应
       $("#gatherMajia select").change(function(){
       	var imgArr = ["{STYLE}images/tx1.gif", "{STYLE}images/tx2.gif", "{STYLE}images/tx3.gif", "{STYLE}images/tx4.gif", 
       					"{STYLE}images/tx5.gif", "{STYLE}images/tx6.gif", "{STYLE}images/tx7.gif", "{STYLE}images/tx8.gif"];
       		let val = parseInt($(this).val());
       		if (val === 0) {
       			val = 1;
       		}
       		$("#gatherMajiaImg").attr("src",imgArr[val - 1]);
       		$('input[name="avatar"]').val(imgArr[val - 1]);
       });

	$("[name='mid']").change(function(){
		$.ajax({   
			url:"{php echo $this->createWebUrl('info',array('op'=>'fieldhtml'))}",   
			type:'post', 
			data:{
				id:$(this).val(),
			},
			dataType:'html',
			success:function(data){   
				$('#fieldhtml').html(data);
			}
		});
	});
	

	$(".cityselect").change(function(){
        var cityid=$('select[name="area[city]"]').val;
        var op='changearea2';
        var url=common.createWebUrl('ajax_req',op);

        $.ajax({
            type:'post',
            url:url,
            dataType: 'json',
            data:{'id':cityid,'op':op},
            success:function(data){
                if(data.status=='1'){
                    var content="";
                    $.each(data.list,function(k,v){
                        content+=("<option value='"+v.name+"'>"+v.name+"</option>");
                    })
                    $('select[name="area[district]"]').html(content);

                }else{
                    tip(data.str);
                    tip_close();
                }

            }
        });
	});
})
</script>
{template 'mapjs'}
{/if}
{template 'web/footer'}