<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label"><span style='color:red'>*</span>频道名称</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="name"  class="form-control" value="{$item['name']}" />
	</div>
</div>

<input type="hidden" name="fid" value="{$fid}" />


<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">
		频道图标</label>
	<div class="col-sm-9 col-xs-12">
		{php echo tpl_form_field_image('thumb', $item['thumb'], '', array('extras' => array('text' => 'readonly')))}
		<span class="help-block" style="color:#900;">建议上传100*100px图片</span>
	</div>
</div>




{if empty($id)}
<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">复制频道</label>
	<div class="col-sm-9 col-xs-12">
		{template 'web/moxing'}
	</div>
</div>
{/if}

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">自定义频道链接</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="autourl" class="form-control" value="{$item['autourl']}" />
	</div>
</div>

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
	<div class="col-sm-9 col-xs-12">
		<input type="text" name="displayorder" class="form-control" value="{$item['displayorder']}" />
	</div>
</div>

<div class="form-group">
	<label class="col-xs-12 col-sm-3 col-md-2 control-label">置顶费用</label>
	<div class="col-sm-2 col-xs-12">
		<div class="input-group">
			<input class="form-control" name="zdprice" value="{$item['zdprice']}" type="text">
			<span class="input-group-addon">元/天</span>
		</div>
		<span class="help-block" style="color:#900;">为0表示不开通置顶功能</span>
	</div>
</div>