{template 'web/header'}
{template 'web/left'}

<section id="content">
	<section class="vbox">
		<section class="scrollable padder">
			<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
				<li><a href="{php echo $this->createWebUrl("index")}"><i class="fa fa-home"></i>首页</a></li>
				<li class="active">红包管理</li>
			</ul>
<ul class="nav nav-tabs">
	<li {if $operation == 'display'} class="active" {/if}><a href="{php echo $this->createWebUrl('red',array('op' =>'display'))}">红包管理</a></li>
	{if $operation == 'post'}
	<li {if $operation == 'post'}class="active"{/if}><a href="{php echo $this->createWebUrl('red',array('op' =>'post'))}">查看信息</a></li>
	{/if}
</ul>

{if $operation == 'display'}
<div class="main">
	<div class="panel panel-info">
		<div class="panel-heading" style="height: 35px;">
			<div class="pull-left" >筛选</div>
		<div class="pull-right setting-ico"  onClick="window.location='{$_W['siteroot']}/web/index.php?c=profile&a=module&do=setting&m=yc_youliao&op=display#fabu'"><img src="{STYLE}images/b_setting.png"/>发布设置</div>
		</div>
		<div class="panel-body">
			<form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
				<input type="hidden" name="c" value="site" />
				<input type="hidden" name="a" value="entry" />
				<input type="hidden" name="m" value="yc_youliao" />
				<input type="hidden" name="do" value="red" />

				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">关键词</label>
					<div class="col-sm-8 col-lg-9 col-xs-12">
						<input class="form-control" name="keyword" id="" type="text" value="{$_GPC['keyword']}" placeholder="可查询关键词">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">发布时间</label>
					<div class="col-sm-4 col-xs-12">
						{php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d', $starttime),'endtime'=>date('Y-m-d', $endtime)));}
					</div>
					<div class="form-group">
						<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">红包状态</label>
						<div class="col-xs-2">
							<select class="form-control tpl-category-parent" name="status">
								<option value="2">进行中</option>
								<option value="1">已抢光</option>

							</select>
						</div>
					</div>
					<div class="col-sm-7 col-xs-12 pull-right">
						<button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
						{if $total>0}
						<button type="button" class="btn btn-default">总记录数：{$total}</button>
						{/if}
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-body table-responsive">
			<form action="" method="post">
			<table class="table table-hover">
				<thead class="navbar-inner">
					<tr>
						<th class="row-first" style="width:5%;">选择 </th>
						<th style="width:15%;">发布人</th>
						<th style="width:15%;">红包金额</th>
						<th style="width:40%;">状态</th>
						<th style="width:15%;">发布时间</th>
						<th style="width:10%;text-align:right;">操作</th>
					</tr>
				</thead>
				<tbody>
					{loop $list $message}
					<tr>
						<td><input class="checkbox" name="akid[{$message['id']}]" value="1" type="checkbox"></td>
						<td><span >{$message['nickname']}</span></td>
						<td><span >{$message['total_amount']}</span></td>
						{if $message['total_num']==$message['send_num']}
						<td><span  class="label label-default">已领完</span></td>
							{else}
						<td><span class="label label-warning">进行中</span></td>
								{/if}
						<td>{php echo date("Y-m-d H:i:s",$message['create_time'])}</td>
						<td style="text-align:right;">

							<a href="{php echo $this->createWebUrl('red', array('op' => 'post', 'id' => $message['red_id']))}" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="top" title="" data-original-title="查看"><i class="fa fa-edit"></i></a>
							<a href="{php echo $this->createWebUrl('red', array('op' => 'delete', 'id' => $message['red_id']))}"class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认删除？');return false;" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-times"></i></a>
						</td>
					</tr>
					{/loop}
					{if $list}
					<tr>
						<td></td>
						<td colspan="7">
							<button class="btn btn-success" onclick="selall()" type="button">全选</button>
							<button class="btn btn-default" onclick="cancelall()" type="button">取消</button>
							<button type="submit" name="alldel" value="alldel" class="btn btn-danger" onclick="return confirm('你真的要删除吗？') ? true : false;">批量删除</button>
						</td>
					</tr>
				{/if}
				</tbody>
			</table>
			<input name="token" value="{$_W['token']}" type="hidden">
			</form>
			{$pager}
		</div>
	</div>
</div>

<script>
	function selall(){
		$("input.checkbox").prop('checked',true);
	}
	function cancelall(){
		$("input.checkbox").prop('checked',false);
	}
	require(['bootstrap'],function($){
		$('.btn').hover(function(){
			$(this).tooltip('show');
		},function(){
			$(this).tooltip('hide');
		});
	});
</script>
{/if}
{if $operation == 'post'}
<div class="main">
	<article id="comment-id-3" class="comment-item"> <a href="{php echo $this->createWebUrl('red',array('op'=>'post','id'=>$item['id']))}" class="pull-left thumb-sm avatar red-avatar"><img src="{$item['avatar']}" class="img-circle"></a> <span class="arrow left"></span>
		<div class="comment-body panel panel-default">
			<header class=" data-nickname"> <a href="#">{$item['nickname']}</a>
				<span class="text-muted m-r-sm pull-right"> <i class="fa fa-clock-o"></i> {php echo date('Y-m-d H:i', $item['create_time'])}</span> </header>
			<sapn class="total-am mar_left_10">红包总金额：￥{$item['total_amount']}</sapn>
			<span class="mar_left_10 label label-warning"> {if $item['model']}
                    {if $item['model'] == 2} 口令红包 {/if}
                    {if $item['model'] != 2}
                    {if $item['allocation_way']== 1}
                    普通红包
                    {/if}
                    {if $item['allocation_way'] == 2}
                    拼手气红包
                    {/if}
                    {/if}
				 {/if}
			</span>
			<div class="panel-body grademsg">
				<div class="homeworktitle"> {$item['content']}</div>

				{if $item['xsthumb']}
				{php $num=count($item['xsthumb'])}
				<div class="ming">
					{loop $item['xsthumb'] $i}
					<img class="pic mainImg" {if $num==1}style=width:200px;height:auto;{elseif $num>1}style=width:100px;height:100px;{/if} src="{$i}" alt=""/>
					{/loop}
				</div>
				{/if}
				<a href="{php echo $this->createWebUrl('red',array('op'=>'delete','id'=>$item['red_id']))}"  class="comment-operate">删除 </a>
				<div class="comment-action m-t-sm textright"> <a href="#comment-id-3" data-dismiss="alert" class="btn btn-default btn-xs"> {$item['send_num']}人已领红包  </a> </div>
			</div>
			<div >

				{loop $getredpackageData $gitem}
				<li class="list">
					<div class="d-left"><img src="{$gitem['avatar']}" alt=""></div>
					<div class="d-right">
						<div class="nameDes">
							<div class="name">{$gitem['nickname']}</div>
							<div class="money red">￥{$gitem['get_amount']}</div>
						</div>
						<div class="time">
							{php echo date('Y-m-d H:i:s', $gitem['create_time'])}
						</div>
					</div>
				</li>
				{/loop}

		</div>
			<div class="comment-clearfix"></div>
			{if $redMsg_y}
			<div class="panel-body title-name ">已通知以下小伙伴围观,共计{php echo count($redMsg_y)}人
			{loop $redMsg_y $r}
			<div class="yli-name">{$r['nickname']}</div>
			{/loop}
			</div>
			{/if}
			{if $redMsg_n}
			<div class="panel-body ">未通知以下小伙伴围观,共计{php echo count($redMsg_n)}人
				{loop $redMsg_n $r}
				<div class="nli-name">{$r['nickname']}</div>
				{/loop}
			</div>
			{/if}
		</div>
	</article>
</div>
{/if}

{template 'web/footer'}