{template 'web/header'}
{template 'web/left'}
<section id="content">
<section >
    <section class="padder">
        <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
            <li><a href="{php echo $this->createWebUrl('index')}"><i class="fa fa-home"></i>首页</a></li>
            <li class="active">店铺管理</li>
        </ul>
        <ul class="nav nav-tabs">
            <li {if  $op =='display' && $type =='0'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop',array('op' =>'display'))}">店铺管理</a></li>
            <li {if $op =='display' && $type =='1'} class="active" {/if}><a href="{php echo $this->createWebUrl('shop',array('op' =>'display','type' =>'1'))}">已到期店铺</a></li>

            {if $op =='post'} <li  class="active" ><a href="{php echo $this->createWebUrl('shop_info',array('op' =>'post'))}"> 编辑商家信息</a></li>{/if}

        </ul>

        <div class="main">
            <div class="panel panel-info" >
                <div class="panel-body  table-responsive">
                    <div class="jsglNr">
                        <div class="selectNr" >
                            <div class="left">
                                <a href="{php echo $this->createWebUrl('shop_info',array('op' =>'post','add' =>'1'))}">
                                    添加店铺</a>
                            </div>
                            {template 'web/cate_type'}
                            <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
                                <div class="right">
                                    <input type="text" name="keyword" value="{$keyword}"  placeholder="请输入店铺名称" class="inptText" /><input type="submit" value="  搜索"  class="inptButton" />
                                </div>
                            </form>
                        </div>

                        <div class="tableBox">
                            <form action="" method="post" onsubmit="return formcheck(this)">
                            <table bordercolor="#dbdbdb" cellspacing="0" width="100%" border="1px"  class="tablestyle" >
                                <tr class="theader">

                                    <th class="w50 order-by-input">排序</th>
                                    <td>编号</td>
                                    <td>所属行业</td>
                                    <td>区域</td>
                                    <td>商铺LOGO</td>
                                    <td>商铺名称</td>

                                    {if $check!="1"}
                                    <td>入驻时间</td>
                                    <td>是否开启	</td>
                                    <td>首页推荐	</td>
                                    <td>秒杀	</td>
                                    <td>拼团	</td>
                                    <td>优惠买单	</td>
                                    {else}
                                    <td>状态	</td>
                                    <td>申请时间</td>
                                    <td>申请类型	</td>
                                    {/if}
                                    <td>操作</td>
                                </tr>
                                {loop $list $item}

                                <tr>
                                    <td class="order-by-input"><input class="w50" name="displayorder[{$item['shop_id']}]" value="{$item['orderby']}" type="text" class="remberinput w80" /></td>
                                    <td>{$item['shop_id']}</td>
                                    <td>{$item['cate_name']}</td>
                                    <td>{$item['area_name']}</td>
                                    <td class="shop-logo"> <img src="{php echo tomedia($item['logo']);}"
                                         onerror="javascript:this.src='{SQ}public/images/fabu_2.png'"   />
                                    </td>
                                    <td>{$item['shop_name']}</td>



                                    {if $check=="1"}
                                    <td>
                                        {if $item['status']==0}
                                        <span class="label label-info">申请中{elseif $item['status']==1}
                                        <span class="label label-success">正常
                                        {elseif $item['status']==2}
                                        <span class="label label-danger">审核不通过
                                        {elseif $item['status']==3}
                                         <span class="label label-warning">暂停中{/if}</span>
                                    </td>
                                    <td>
                                       {php echo date('Y-m-d H:i', $item['applytime'])}

                                    </td>
                                    <td>
                                        {if $item['f_type']==1}
                                        <span class="label label-info">店铺入驻
                                       {elseif  $item['f_type']==2}
                                        <span class="label label-info">首页推荐
                                        {elseif  $item['f_type']==3}
                                         <span class="label label-info">秒杀专场
                                        {elseif  $item['f_type']==4}
                                         <span class="label label-info">全民拼团
                                         {elseif  $item['f_type']==5}
                                         <span class="label label-info">优惠买单
                                        {/if}</span>
                                    </td>

                                    <td class="shoplist listbtn info-list">
                                            <a  href="javascript:;"  onclick="returnApply(this,{$item['shop_id']},{$item['f_type']},1)" ><i class="fa fa-check"></i>审核通过</a>



                                            <input class="flag" type="hidden" class="flag"  value="0" name="">
                                            <div class="reason-box none">

                                                <div class="body"><div class="title-content"><div class="ct"  class="dvMsgCT">驳回原因：<div class="clear"></div></div></div>
                                                    <textarea class="reason" type="text"   name="reason"></textarea>
                                                </div>
                                                <div class="bottom" class="dvMsgBottom" ><div class="title-content"><div class="dvMsgBtns"><div class="height"></div>
                                                    <a href="javascript:;" onclick="returnApply(this,{$item['shop_id']},{$item['f_type']},2)" class="reason-btn btn2 mr-10 b-white">跳过</a>
                                                    <a href="javascript:;" onclick="returnApply(this,{$item['shop_id']},{$item['f_type']},2)"class="reason-btn">确定</a></div></div></div>
                                            </div>

                                            <a  class="label label-danger pad-5 reason-sub " href="javascript:;" onclick="returnApply(this,{$item['shop_id']},{$item['f_type']},2)"><i class="fa fa-exclamation-triangle"></i>申请驳回</a>

                                    </td>

                                    {else}
                                    <td>
                                       {php echo date('Y-m-d H:i', $item['starttime'])}
                                    </td>
                                    <td class="text-l">

                                        <label class="switch">
                                            <input type="checkbox" {if $item['status']==1} onclick="opstatus({$item['shop_id']},'status',3);" checked='checked'{else}onclick="opstatus({$item['shop_id']},'status',1);"{/if}>
                                            <span></span> </label>
                                    </td>

                                    <td class="text-l">
                                    <label class="switch">
                                        <input type="checkbox" {if $item['is_hot']==1} onclick="opstatus({$item['shop_id']},'is_hot',0);" checked='checked'{else}onclick="opstatus({$item['shop_id']},'is_hot',1);"{/if}>
                                        <span></span> </label>
                                    </td>
                                    <td class="text-l">

                                        <label class="switch">
                                            <input type="checkbox" {if $item['is_time']==1} onclick="opstatus({$item['shop_id']},'is_time',0);" checked='checked'{else}onclick="opstatus({$item['shop_id']},'is_time',1);"{/if}>
                                            <span></span> </label>
                                    </td>
                                    <td class="text-l">
                                        <label class="switch">
                                            <input type="checkbox" {if $item['is_group']==1} onclick="opstatus({$item['shop_id']},'is_group',0);" checked='checked'{else}onclick="opstatus({$item['shop_id']},'is_group',1);"{/if}>
                                            <span></span> </label>
                                    </td>
                                    <td class="text-l">
                                        <label class="switch">
                                            <input type="checkbox" {if $item['is_discount']==1} onclick="opstatus({$item['shop_id']},'is_discount',2);" checked='checked'{else}onclick="opstatus({$item['shop_id']},'is_discount',1);"{/if}>
                                            <span></span> </label>
                                    </td>
                                    <td class="listbtn">
                                       <!--<a  href="{php echo $this->createWebUrl('shop_index', array( 'shop_id' => $item['shop_id']))}" ><i class="fa fa-home"></i>店铺管理</a>-->
                                    <span class="shoplist bg">
                                        <div class="input-group select_btn deal_btn">

                                                <button type="button" class="btn dropdown-toggle bg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                 <i class="fa fa-home"></i>管理
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        {if $type==1}
                                                         <a  href="{php echo $this->createWebUrl('shop_info', array( 'op' =>'post','shop_id' => $item['shop_id']))}" ><i class="fa fa-home"></i>续期</a>
                                                        {else}
                                                         <a  href="{php echo $this->createWebUrl('pro_req', array( 'shop_id' => $item['shop_id']))}" ><i class="fa fa-home"></i>店铺管理</a>
                                                        {/if}
                                                        <div class="lineb"></div>
                                                              {php $link1=$_W['siteroot'].'app/index.php?c=entry&shop_id='.$item['shop_id'].'&m=yc_youliao&do=login&i='.$_W['uniacid'];}
                                                        <a   style="cursor:pointer" class="copyurl" data-url="{$link1}" href="javascript:;" onclick="copyit();"><i class="fa fa-link" onclick="window.location.href='{$link1}'"></i>复制后台管理链接</a>
                                                        <div class="lineb"></div>
                                                              {php $link2=$_W['siteroot'].'app/index.php?c=entry&shop_id='.$item['shop_id'].'&m=yc_youliao&do=shop&i='.$_W['uniacid'];}
                                                        <a   style="cursor:pointer" class="copyurl" data-url="{$link2}" href="javascript:;" onclick="copyit();"><i class="fa fa-link" onclick="window.location.href='{$link2}'"></i>复制手机端访问链接</a>
                                                             <div class="lineb"></div>
                                                        {php $link3=$_W['siteroot'].'app/index.php?c=entry&shop_id='.$item['shop_id'].'&m=yc_youliao&do=shop_admin&i='.$_W['uniacid'];}
                                                        <a   style="cursor:pointer" class="copyurl" data-url="{$link3}"  href="javascript:;" onclick="copyit();"><i class="fa fa-link"  onclick="window.location.href='{$link3}'"></i>复制手机端管理链接</a>
                                                    </li>
                                                </ul>
                                        </div>
                                        </span>
                                        <a class="label label-danger pad-5 " href="{php echo $this->createWebUrl('shop', array('op' => 'delete', 'shop_id' => $item['shop_id']))}" onclick="return confirm('删除后不可恢复，确定要删除吗？');"><i class="fa fa-exclamation-triangle"></i>删除</a>

                                    </td>
                                    {/if}
                                </tr>

                                {/loop}
                            </table>
                                <span class="btn_44b549  orderblock shop-orderby"  >排序</span>
                                {$pager}
                                {if $list}

                                <div class="width100 btn2 order-by-input">
                                        <input name="submit" class="btn btn-primary i-t-md " value="提交" type="submit">
                                        <input name="token" value="{$_W['token']}" type="hidden">

                                </div>
                            {/if}

                        </div>


                    </div>

                </div>


            </div>
        </div>
    </section>
</section>
</section>
</body>
</html>
