{template 'web/header'}
{template 'web/left'}

<section id="content">
<section class="vbox">
    <section class="scrollable padder">
        <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
            <li><a href="{php echo $this->createWebUrl("index")}"><i class="fa fa-home"></i>首页</a></li>
            <li class="active">商户管理</li>
        </ul>

        <ul class="nav nav-tabs">
            <li {if $op =='display'} class="active" {/if}><a href="{php echo $this->createWebUrl('shopcate',array('op' =>'display'))}">店铺分类</a></li>
            {if $op =='post'} <li  class="active" ><a href="{php echo $this->createWebUrl('shopcate',array('op' =>'post'))}">添加分类</a></li>{/if}

        </ul>

        <div class="main">
            {if $op == 'display'}
            <link rel="stylesheet" href="../addons/yc_youliao/public/css/common.css" type="text/css" />
            <div class="panel panel-info" >
                <div class="panel-body  table-responsive">
                    <div class="jsglNr">
                        <div class="selectNr" >
                            <div class="left">
                                <a href="{php echo $this->createWebUrl('shopcate',array('op' =>'post'))}">添加一级分类</a>
                            </div>
                            {template 'web/cate_type'}
                            <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" onsubmit='return formcheck()'>
                                <div class="right">

                                    <input type="text" name="keyword" value="{$keyword}"  placeholder="请输入分类名称" class="inptText" /><input type="submit" value="  搜索"  class="inptButton" />
                                </div>
                            </form>
                        </div>

                        <div class="tableBox">
                            <form action="" method="post">
                            <table bordercolor="#dbdbdb" cellspacing="0" width="100%" border="1px"  class="tablestyle" >
                                <tr class="theader">

                                    <td class="w50">ID</td>
                                    <td class="w80">排序</td>
                                    <td colspan="2">分类名称</td>
                                    <td>分类图标</td>
                                    <td class="w120">操作</td>
                                </tr>
                                {loop $list $shopcate}
                                {if empty($shopcate['parent_id']) || $k==2}
                                <tr class="bggreen">

                                    <td>{$shopcate['cate_id']}</td>
                                    <td><input  name="displayorder[{$shopcate['cate_id']}]" value="{$shopcate['orderby']}" type="text" class="remberinput w80" /></td>
                                    <td colspan="2">{$shopcate['cate_name']}</td>
                                    <td><img src="{php echo tomedia($shopcate['thumb']);}" onerror="javascript:this.src='{SQ}public/images/noimg.png'" /></td>


                                    <td class="listbtn">
                                        {if empty($shopcate['parent_id'])}
                                        <a href="{php echo $this->createWebUrl('shopcate', array('op' => 'post', 'parent_id' => $shopcate['cate_id']))}"><i class="fa fa-plus-square"></i>增加子类</a>
                                        {/if}
                                        <a href="{php echo $this->createWebUrl('shopcate', array('op' => 'post', 'id' => $shopcate['cate_id']))}"><i class="fa fa-edit"></i>修改</a>
                                        <a class="label label-danger pad-5 " href="{php echo $this->createWebUrl('shopcate', array('op' => 'delete', 'id' => $shopcate['cate_id']))}"><i class="fa fa-exclamation-triangle"></i>删除</a> </td>
                                </tr>
                                {/if}
                                {loop $children[$shopcate['cate_id']] $shopcate}
                                <tr class="nonebg">

                                    <td>{$shopcate['cate_id']}</td>
                                    <td><input  name="displayorder[{$shopcate['cate_id']}]" value="{$shopcate['orderby']}" type="text" class="remberinput w80" /></td>

                                    <td class="tdnone"></td>
                                    <td>{$shopcate['cate_name']}</td>
                                    <td><img src="{php echo tomedia($shopcate['thumb']);}" onerror="javascript:this.src='{SQ}public/images/noimg.png'" /></td>
                                    <td class="listbtn">

                                        <a href="{php echo $this->createWebUrl('shopcate', array('op' => 'post', 'id' => $shopcate['cate_id'],'parent_id' => $shopcate['parent_id']))}"><i class="fa fa-edit"></i>修改</a>
                                        <a class="label label-danger pad-5 "  href="{php echo $this->createWebUrl('shopcate', array('op' => 'delete', 'id' => $shopcate['cate_id'],'parent_id' => $shopcate['parent_id']))}"><i class="fa fa-exclamation-triangle"></i>删除</a> </td>
                                </tr>
                                {/loop}
                                {/loop}

                            </table>
                                {if $list}
                                <div class="width100 btn2">
                                        <input name="submit" class="btn btn-primary i-t-md" value="提交" type="submit">
                                        <input name="token" value="{$_W['token']}" type="hidden">
                            </div>
                            </form>
                                {/if}
                            {$page}
                        </form>


                    </div>

                </div>
                {elseif $op == 'post'}

                <div class="panel" >
                    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">

                        <div class="panel-default">
                            <div class="panel-heading">
                                添加分类
                            </div>
                            <div class="panel-body">
                                <div class="form-group" >
                                    <label class="col-xs-12 col-sm-3 control-label"><span class="red mr5">*</span>业务类型</span></label>
                                    <div class="col-sm-9 col-xs-12">
                                        <span  title="购买成功生成二维码到店核销">
                                        <input  type="radio"  name="cate_type" class="mr20 "  value="0"  {if $shopcate['cate_type']==0}checked="checked"{/if}/>商铺消费</span>
                                        <span class="gray" title="暂未开放">
                                        <input type="radio"  name="cate_type" id="close_type" class="wl2  cate_type"  {if $shopcate['cate_type']==1}checked="checked"{/if} value="1" />酒店预订
                                        <input type="radio"  name="cate_type" class="wl2  cate_type"  {if $shopcate['cate_type']==2}checked="checked"{/if} value="2" />影院订座
                                        <input type="radio"  name="cate_type" class="wl2  cate_type"  {if $shopcate['cate_type']==3}checked="checked"{/if} value="3" />外卖点餐
                                        <input type="radio"  name="cate_type" class="wl2 cate_type"  {if $shopcate['cate_type']==3}checked="checked"{/if} value="3" />微商城
</span>

                                    </div>
                                </div>

                                {if !empty($parentid)}
                                <div class="form-group">
                                    <label class="col-xs-12 col-sm-3 control-label">行业分类</label>
                                    <div class="col-sm-2">
                                        <select class="form-control" style="margin-right:15px;" id="city_id" name="parent_id"  autocomplete="off">
                                            {if $cate }
                                            {loop $cate $row}
                                            <option  value="{$row['cate_id']}" {if $row['cate_id'] == $parentid} selected="selected"{/if}>{$row['cate_name']}</option>
                                            {/loop}

                                            {else}
                                            <option>暂无分类</option>
                                            {/if}

                                        </select>
                                </div>
                                {/if}
                                </div>
                                <div class="form-group" >
                                    <label class="col-xs-12 col-sm-3 control-label"><span class="red mr5">*</span>分类名称</span></label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input type="text" name="cate_name" id='name' class="form-control" value="{$shopcate['cate_name']}" />
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label class="col-xs-12 col-sm-3 control-label"><span class="red mr5">*</span>外链</span></label>
                                    <div class="col-sm-9 col-xs-12">
                                        <input type="text" name="cate_url" id='cate_url' class="form-control" value="{$shopcate['cate_url']}" />
                                    </div>
                                </div>
                                <div class="form-group" >
                                    <label class="col-xs-12 col-sm-3 control-label"><span class="red mr5">*</span>分类图片</span></label>
                                    <div class="col-sm-6 col-xs-6">
                                        {php echo tpl_form_field_image('thumb',$shopcate['thumb']);}
                                    </div>
                                </div>

                               
                                    <div class="form-group">
                                        <label class="col-xs-12 col-sm-3 control-label">排序</label>
                                        <div class="col-sm-4 col-xs-4">
                                            <input type="text" name="orderby" class="form-control" value="{$shopcate['orderby']}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="token" value="{$_W['token']}" />
                        <input type="hidden" name="parent_id" value="{$parent['cate_id']}" />
                        <input type="hidden" name="cate_id" value="{$shopcate['cate_id']}" />
                            <input type="hidden" name="op" value="post" />
                            <div class="width100 btn2">
                                <input name="submit" type="submit" value="提交" class="btn btn-primary" onclick="return check(this.form)">
                            </div>


                    </form>
                </div>


                {/if}
    </section>
</section>
</section>
<script>
    $(".cate_type").click(function(){
        if ($(".cate_type").is(':checked')) {
            $(".cate_type").removeAttr('checked');
        }
    });



    function check(){
    var n = $("#name").val();
    var cate_type=$('select[name="cate_type"]').val();
        if(cate_type==""){
            tip("请选择业务类型");
            tip_close();
            return false;
        }
    if(n==""){
        tip("分类名称不能为空");
        tip_close();
        return false;
    }


}

</script>

